.section-sub-title h4 {
    font-size: 19px;
    color: #050953;
    font-weight: 600;
    font-family: "Raleway";
    margin-bottom: 12px;
    padding: 0 95px;
    position: relative;
    display: inline-block;
}

.section-sub-title h4::before {
    position: absolute;
    content: "";
    width: 82px;
    height: 2px;
    background: #050953;
    left: 0;
    top: 50%;
}

.choose-us-section-sub-title h4 {
    font-size: 19px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    margin-bottom: 12px;
    padding: 0 95px;
    position: relative;
    display: inline-block;
}

.choose-us-section-sub-title h4::before {
    position: absolute;
    content: "";
    width: 82px;
    height: 2px;
    background: #ffffff;
    left: 0;
    top: 50%;
}

.section-main-title h2 {
    font-size: 48px;
    color: #23222a;
    font-weight: 800;
    font-family: "Raleway";
    margin-bottom: 42px;
}

.section-sub-title.inner h4 {
    color: #050953;
}

.section-sub-title.inner h4::before {
    background: #050953;
}

.section-main-title.inner h2 {
    color: #ffffff;
    font-weight: 700;
}

.about-us-section-main-title h2 {
    margin-bottom: 20px;
    font-size: 48px;
    color: #23222a;
    font-weight: 800;
    font-family: "Raleway";
}

.about-us-section-main-title.inner h2 {
    color: #ffffff;
    font-weight: 700;
}